<div id="sidebar">
	<h3>Branches</h3>
	<% if @branches.to_a.length > 0 %>
		<% @branches.each do |b| %>
			<% next if b.full == 'origin/master' %>
			<% if b.current %>
				<ul>
					<li>
						<strong><%= b.full %></strong>
					</li>
					<li>
						&mdash;
					</li>
					<li>
						currrent
					</li>
				</ul>
			<% else %>
				<ul>
					<li>
						<strong><%= b.full %></strong>
					</li>
					<li>
						&mdash;
					</li>
					<li>
						<a href="/a/branch/<%= b.name %>">switch</a>
					</li>
					<li>
						&bull;
					</li>
					<li>
						<a href="/a/merge_branch/<%= b.name %>">merge</a>
					</li>
				<!-- &bull; <a href="/a/delete_branch/<%= b.name %>">delete</a> -->
				</ul>
			<% end %>
		<% end %>
	<% else %>
		No branches found (empty Git tree?)
	<% end %>
</div>

<div id="cont">
	<h1>Branches</h1>

	<h2>New Branch</h2>
	<form method="post" action="/a/new_branch">
		<input type="hidden" name="type" value="derive" />
		<p>
			<label>Name</label>
			<input type="text" name="branch" />
		</p>
		<p>
			<button type="submit" class="submit">Create</button>
		</p>
	</form>

	<h2>New Remote Branch</h2>
	<form method="post" action="/a/new_remote">
		<input type="hidden" name="type" value="derive" />
		<p>
			<label>Name</label>
			<input type="text" name="branch_name" />
		</p>
		<p>
			<label>Url</label>
			<input type="text" name="branch_url" />
		<p>
			<button type="submit" class="submit">Create</button>
		</p>
	</form>
</div>

