<div id="sidebar">
	<ul>
		<li>
			<a href="/<%= @page.basename %>">Back</a>
		</li>
		
		<li>
			&bull;
		</li>
		
		<li>
			<a href="/a/file/upload/<%= @page.basename %>">Attach</a>
		</li>

		<% if @page.tracked? %>
			<li>
				&bull;
			</li>
		
			<li>
				<a href="/h/<%= @page.basename %>">History</a>
			</li>
		<% end %>

		<li>
			&bull;
		</li>

		<li>
			<a id="delete_link" href="#">Delete</a>
		</li>
	</ul>

	<% if files = @page.attachments %>
	<h3>Attachments</h3>
		<div id="attachments">
			<% files.each do |file| %>
				<div class="attachment_item">
					<a href="<%= file.link_path %>"><%= file.name %></a>
					<span class="detail">(<%= file.size %>)</span>
					<div class="attach-options">
						<ul>
							<li>
								<a class="delete_attachment" href="<%= file.delete_path %>" aname="<%= file.name %>">Delete</a>
							</li>
							<li>
								&bull;
							</li>
							<li>
								<a href="<%= file.link_path %>">Download</a>
							</li>
							<li>
								&bull;
							</li>
							<li>
								<a href="#" class="replace" name="<%= file.name.unwiki_filename %>" url="<%= file.link_path %>" image="<%= (file.image?) ? true : false %>">Insert</a>
							</li>
						</ul>
					</div>
				</div>
			<% end %>
		</div>
	<% end %>
	
	<div id="markdown_syntax">
		<h3>Syntax Reference</h3>
		<p>
			*bold* &rarr; <strong>bold</strong><br />
			_italic_ &rarr; <em>italic</em><br />
			&#91;My Site&#93;(http://www.mysite.com/) &rarr; <a href="http://www.mysite.com/">My Site</a>
		</p>
		<p>
			<a href="http://daringfireball.net/projects/markdown/syntax" target="MarkdownDaringFireball">Full Markdown syntax</a>
		</p>
	</div>
</div>

<div id="cont">
	<h1>Editing <a href="/<%= @page.name %>"><%= @page.title.capitalize %></a></h1>
	
	<form method="post" action="/e/<%= @page.basename %>">
		<p>
			<textarea name="body" id="edit_textarea" rows="4" cols="50"><%= @page.raw_body %></textarea>
		</p>
		<p>
			<label>Message</label>
			<textarea name="message" rows="4" cols="50" id="message_textarea"></textarea>
			<input type="hidden" name="content_type" value="markdown"/>
		</p>
		<p>
			<button type="submit">Save</button>
		</p>
	</form>
</div>

<script type="text/javascript">
	$(document).ready(function(){

		// assign the a.replace paste events
		$('a.replace').click(function(e) {
			var name = $(this).attr('name');
			var url = $(this).attr('url');
			var isImage = $(this).attr('image');
			var link = calc_link(name, url, isImage);
			var ref = calc_link_ref(name, url, isImage);
			$("#edit_textarea").val($("#edit_textarea").val()+"\n"+ ref);
			e.preventDefault();
			return false;
		});

		//delete_link onclick posts a delete of page
		$("#delete_link").click(function(e){
			if(confirm("Delete <%= @page.basename %>")){
				$.post("/delete/<%= @page.basename %>", null, function(data, textStatus){
					$("#messages").text(data).fadeIn(4000, function(){
						document.location = "/"; //redirect to top
					});
				});
			}
		});

		//delete attachment link onclick posts to delete file, then hides item
		$("a.delete_attachment").click(function(e){
			var a = $(this);
			var name = a.attr('aname');
			var url = a.attr('href');
				if(confirm("Really delete page " + name + "?")){
				$.post(url, null, function(data, textStatus){
					a.parent("div.attach-options").parent("div.attachment_item").hide("slow");
				});
			}
			return false;
		});
	});

	function calc_link(name, url, image){
		if(image=="true"){
			return "!["+name+"][]";
		}else{
			return "["+name+"][]";
		}
	}

	function calc_link_ref(name, url, image){
		return "[" + name + "](" + url + ")";
	}

$("#edit_textarea").markItUp(markItUpMarkdownSettings);
</script>