<div id="cont">
	<form method="post" action="/e/<%= @page.basename %>">
		<p>
			<textarea name="body" id="edit_textarea" rows="4" cols="50"><%= @page.raw_body %></textarea>
		</p>
		<p>
			<label>Syntax Reference</label>
			*bold* &rarr; <strong>bold</strong><br />
			_italic_ &rarr; <em>italic</em><br />
			&#91;My Site&#93;(http://www.mysite.com/) &rarr; <a href="http://www.mysite.com/">My Site</a>
		</p>
		<p>
			<button type="submit">Save</button>
			<% if @page.tracked? %>
				<a href="/<%= @page.basename %>">Cancel</a>
			<% else %>
				<a href="/">Cancel</a>
			<% end %>
		</p>
	</form>
	
	<% if files = @page.attachments %>
	<div id="attachments">
		<h3>Attachments</h3>
		<% files.each do |file| %>
			<div class="attachment_item">
				<a href="<%= file.link_path %>"><%= file.nice_name %></a>
				<span class="detail">(<%= file.size %>)</span>
				<a href="#" class="replace" name="<%= file.nice_name %>" url="<%= file.link_path %>" image="<%= (file.image?) ? true : false %>">Insert</a>
<!--			<div class="attach-options">
					<ul>
						<li>
							<a class="delete_attachment" href="<%= file.delete_path %>" aname="<%= file.name %>">Delete</a>
						</li>
						<li>
							<a href="<%= file.link_path %>">Download</a>
						</li>
						<li>
							<a href="#" class="replace" name="<%= file.nice_name %>" url="<%= file.link_path %>" image="<%= (file.image?) ? true : false %>">Insert</a>
						</li>
					</ul>
				</div>-->
			</div>
		<% end %>
	</div>
	<% end %>
</div>

<div id="sidebar">
	<ul>
		<% if @page.tracked? %>
			<li>
				<a href="/h/<%= @page.basename %>">History</a>
			</li>
			<li>
				<a id="delete_link" href="#">Delete</a>
			</li>
		<% end %>
		<li>
			<a href="/">Home</a>
		</li>
	</ul>
</div>

<script type="text/javascript">
	$(document).ready(function(){

		// assign the a.replace paste events
		$('a.replace').click(function(e) {
			var name = $(this).attr('name');
			var url = $(this).attr('url');
			var isImage = $(this).attr('image');
			var link = calc_link(name, url, isImage);
			
			var textarea = $("#edit_textarea");
			textarea.val(textarea.val() + "\n" + link);
			textarea.focus();
			
			$.scrollTo(textarea, 800)
			textarea[0].scrollTop = textarea[0].scrollHeight;
			e.preventDefault();
			return false;
		});

		//delete_link onclick posts a delete of page
		$("#delete_link").click(function(e){
			if(confirm("Delete <%= @page.basename %>")){
				$.post("/delete/<%= @page.basename %>", null, function(data, textStatus){
					$("#messages").text(data).fadeIn(4000, function(){
						document.location = "/"; //redirect to top
					});
				});
			}
		});

		//delete attachment link onclick posts to delete file, then hides item
		$("a.delete_attachment").click(function(e){
			var a = $(this);
			var name = a.attr('aname');
			var url = a.attr('href');
				if(confirm("Really delete page " + name + "?")){
				$.post(url, null, function(data, textStatus){
					a.parent("div.attach-options").parent("div.attachment_item").hide("slow");
				});
			}
			return false;
		});
	});

	function calc_link(name, url, image) {
		var link = "["+name+"](" + url + ")";
		
		if (image == "true")
		{
			return "!" + link;
		} else {
			return link;
		}
	}
</script>