<div id="cont">

	<% if @pages.empty? %>
		<h1>No pages yet</h1>
	<% else %>
		<% @pages.each do |page| %>
			<div class="page">
				<strong><a href="/<%= page.basename %>"><%= page.title %></a></strong>
				<ul class="inline">
					<li>
						Changed
						<script type="text/javascript">
					 	document.write(time_ago_in_words(<%= page.updated_at.for_time_ago_in_words %>) + ' ago');
						</script>
					</li>
					<li>
						&mdash;
					</li>
					<li>
						<a href="/e/<%= page.basename %>">edit</a>
					</li>
					<li>
						<a href="/h/<%= page.basename %>">history</a>
					</li>
				</ul>
			</div>
		<% end %>
	<% end %>

	<h3>Search</h3>
	<form method="get" action="/a/search" class="small">
		<input type="text" name="search" value="Search" onfocus="clearField(this);" />
		<button type="submit">Go</button>
	</form>

	<h3>New Page</h3>
	<form method="get" action="/e/new" class="small">
		<input type="text" name="page" value="Title" onfocus="clearField(this);" />
		<button type="submit">Go</button>
	</form>

</div>

<div id="sidebar">
	<ul>
		<li>
			<a href="/a/history">Recent Changes</a>
		</li>
		<li>
			<a href="/">Home</a>
		</li>
	</ul>
</div>