<div id="cont">

<% if @grep.empty? %>
	<h1>No results found for &lsquo;<%= @search %>&rsquo;</h1>
	<p>Only the HEAD revision has been searched.</p>
<% else %>
	<h1>Results for &lsquo;<%= @search %>&rsquo;</h1>
<% end %>

<div>
	<%= @grep.size %> pages contain match<br />
	<%= @grep.map { |g| g[1].size }.inject { |acc, n| acc + n } or 0 %> results
</div>

<% @grep.each do |sha, arr_match| %>
	<div class="search_result">
		<% (sha, file) = sha.split(':') %>
		<% arr_match.each do |line, match| %>
			<div class="page">
				<p>
					<strong>
						<%= match %>
					</strong>
				</p>
				<p>
					&mdash;
					<a href="/<%= file.strip_page_extension %>"><%= file.strip_page_extension.capitalize %></a>
					, line <%= line %> (<%= $repo.object(sha).name %>)
				</p>
			</div>
		<% end %>
	</div>
<% end %>

</div>

<div id="sidebar">
	<ul>
		<li>
			<a href="/a/history">Recent Changes</a>
		</li>
		<li>
			<a href="/">Home</a>
		</li>
	</ul>
</div>