<div id="sidebar">
	<ul>
		<li>
			<% if params[:rev] %>
				<a href="/<%= @page.basename %>">Current</a>
			<% else %>
				<a href="/e/<%= @page.basename %>">Edit</a>
			<% end %>
		</li>
		
		<li>
			&bull;
		</li>
		
		<li>
			<a href="/h/<%= @page.basename %>">History</a>
		</li>
	</ul>

	<div id="last_changed" class="page_info">
		<strong>Changed:</strong>
		<script type="text/javascript">
	 	document.write(time_ago_in_words(<%= @page.updated_at.for_time_ago_in_words %>) + ' ago');
		</script>
	</div>
</div>

<div id="cont">
	<div id="messages" class="hide"></div>
	<h1><%= @page.title.capitalize %></h1>
	<%= @env %>
	
	<div class="content edit_area"><%= @page.body %></div>
</div>

<script type="text/javascript">
  $(document).ready(function() {
    $(".edit_area").editable('/eip/<%= @page.basename %>', {
      indicator: "saving...",
      tooltip: 'double-click to edit...',
      cancel: 'cancel',
      submit: 'save',
      event: 'dblclick',
      cssclass: 'edit',
      loadurl: '/<%= @page.basename %>/raw',
      type: 'textarea',
      name: 'body'
    });
  });
</script>